.home{
    font-size: 40px;
    .year_str[data-v-5d450b9a]{
        height: 80px; border-bottom: #ddd solid 1px; line-height: 105px; text-align: center;
    }
    .week-slider[data-v-5d450b9a]{
        width: 100%; height: 105px; overflow: hidden; padding: 10px 0;
        .sliders[data-v-5d450b9a]{
            position: relative;
            .slider[data-v-5d450b9a]{
                height: 105px; width: 100%; display: flex; position: absolute; top: 0; left: 0; overflow: hidden;
                .day[data-v-5d450b9a]{
                    flex: 1;
                    div[data-v-5d450b9a]{
                        height: 93px; width: 48px; padding: 6px 0; margin: auto; text-align: center; line-height: 50px;font-size:40px;
                        &.today{
                            border-radius: 50%; background-color: #dd3629; color: #FFF;
                        }
                        &.sameDay{
                            border-radius: 40%; background-color: #999; color: #FFF;
                        }
                        strong[data-v-5d450b9a]{
                           font-size:40px;
                        }
                    }
                }
            }
        }
    }
    .img{
        width: 100%;
        height: 100%;
    }
}