#first{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
#header .head{
    overflow: hidden;
    font-style: oblique;
    height:1.6rem;
    line-height: 1.6rem;
    font-size:0.48rem;
    text-align:center;
    color:#fff;
    background-image: -webkit-linear-gradient(left,green,yellow,pink, blue, red 25%,green 35%,
    blue 50%,yellow 60%, red 75%, pink 85%,blue 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: stream 15s infinite linear;
    background-size: 200% 100%;
}
@keyframes stream {
    0%  {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}
#main{
    display:none;
}
#main .div{
    margin: 0.8rem auto;
    width: 0;
    height: 0;
    border-left: 0.426667rem solid transparent;
    border-right: 0.426667rem solid transparent;
    border-top: 0.853333rem solid yellow;
}
#main .div.div2{
    border-top: 0.853333rem solid blue;
}
#main .div.div3{
    border-top: 0.853333rem solid green;
}
#main .div.div4{
    border-top: 0.853333rem solid red;
}
#main .div.div5{
    border-top: 0.853333rem solid pink;
}
#footer{
    display:none;
    font-size:0.586667rem;
    width:2.666667rem;
    margin:0 auto;
    text-align:center;
    padding:0.266667rem 0.533333rem;
    background:#7c6abf;
    border-radius:50%;
    color: #fff;
    -webkit-animation: Glow 1.5s ease infinite alternate;
    animation: Glow 1.5s ease infinite alternate;
}
@-webkit-keyframes Glow {
    from {
        text-shadow: 0 0 10px #fff,
                     0 0 20px #fff,
                     0 0 30px #fff,
                     0 0 40px #00a67c,
                     0 0 70px #00a67c,
                     0 0 80px #00a67c,
                     0 0 100px #00a67c,
                     0 0 150px #00a67c;
    }
    to {
        text-shadow: 0 0 5px #fff,
                     0 0 10px #fff,
                     0 0 15px #fff,
                     0 0 20px #00a67c,
                     0 0 35px #00a67c,
                     0 0 40px #00a67c,
                     0 0 50px #00a67c,
                     0 0 75px #00a67c;
    }
}
@keyframes Glow {
    from {
        text-shadow: 0 0 10px #fff,
                     0 0 20px #fff,
                     0 0 30px #fff,
                     0 0 40px #00a67c,
                     0 0 70px #00a67c,
                     0 0 80px #00a67c,
                     0 0 100px #00a67c,
                     0 0 150px #00a67c;
    }
    to {
        text-shadow: 0 0 5px #fff,
                     0 0 10px #fff,
                     0 0 15px #fff,
                     0 0 20px #00a67c,
                     0 0 35px #00a67c,
                     0 0 40px #00a67c,
                     0 0 50px #00a67c,
                     0 0 75px #00a67c;
    }
}