/*全局样式 star*/
html{
    font-family: "PingFang-SC", '微软雅黑', helvetica, sans-serif, '宋体';
    position: relative;
    width: 100%;
    height: 100%;
}

body{
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 500px;
  background-color: #e8f2ff;
  position: relative;
  text-align: center;
}

/*遮罩层*/
.mask{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,0.5);
  top: 0;
  left: 0;
  z-index: 100;
}
/*弹窗*/
.popup{
  display: none;
  position: fixed;
  top: 0.1rem;/*图片位置，单位rem*/
  right: 0.1rem;/*图片位置，单位rem*/
  z-index: 101;
  width: 5rem;
  overflow: hidden;
}
.popup > img{
  display: block;
  float: right;
  width: 0.7rem;
}
.popup > p{
  text-align: left;
  margin-top: 0.5rem;
  font-size: 0.3rem;
  color: #fff;
}

/*tip*/
.msg_box{
  display: none;
  position: fixed;
  max-width: 100%;
  top: 75%;
  left: 50%;
  transform: translate(-50% ,-50%);
  -webkit-transform: translate(-50% ,-50%);
  z-index: 200;
}
.msg_box > .tip{
  display: block;
  background-color: rgba(0, 0, 0,0.5);
  padding: 0 0.3rem;
  height: 0.6rem;
  font-size: 0.3rem;
  white-space: nowrap;
  color: #fff;
  line-height: 0.6rem;
  border-radius: 0.12rem;
}

.top-banner{
  width: 100%;
}
.top-banner > img{
  display: block;
  width: 100%;
  background-size: 100% 100%;
}

.content-box{
  position: relative;
  margin: auto;
  margin-top: 0.3rem;
  width: 6.7rem;
  height: 3.7rem;
  background-color: #ffffff;
  border-radius: 0.1rem;
}
.content-box > .title{
  position: absolute;
  left: 50%;
  top: -0.2rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 3.2rem;
  height: 0.8rem;
  background: url(../img/invite-top.png) center no-repeat;
  background-size: 100% 100%;
  border-radius: 0.1rem;

  font-size: 0.3rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0rem;
  color: #ffffff;
}

.number_input{
  margin-top: 1rem;
  padding-left: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 5.6rem;
  height: 0.8rem;
  background-color: #e8f2ff;
  border-radius: 0.1rem;

  font-size: 0.3rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0rem;
  color: #9059ea;
}
.number_input::-webkit-input-placeholder{
  color: #bcb4f0;
}
.submit{
  margin: auto;
  margin-top: 0.5rem;
  width: 5.5rem;
  height: 0.9rem;
  background-image: linear-gradient(-90deg, 
    #fe6700 0%, 
    #fd8b00 50%, 
    #fbae00 100%);
  box-shadow: 0rem 0.1rem 0.1rem 0rem 
    #facdae;
  border-radius: 0.5rem;

  font-size: 0.4rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.submit:active{
  margin: auto;
  margin-top: 0.5rem;
  width: 5.5rem;
  height: 0.9rem;
  background-image: linear-gradient(-90deg, #d15806 0%, #df7d05 50%, #dd9b05 100%);
  box-shadow: 0rem 0.1rem 0.1rem 0rem 
    #facdae;
  border-radius: 0.5rem;

  font-size: 0.4rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.bottom-info{
  margin-top: auto;
  margin-top: 0.3rem;
  padding-bottom: 0.52rem;
  height: 0.2rem;
  font-size: 0.2rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.2rem;
  letter-spacing: 0rem;
  color: #a399cc;
}

.first{
  display: none;
}
/*老用户*/
.old{
  display: none;
  height: 4.5rem;
  padding-top: 1.1rem;
}
.old > .title{
  position: absolute;
  left: 50%;
  top: -0.2rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 3.2rem;
  height: 0.8rem;
  background: url(../img/invite-top-yellow.png) center no-repeat;
  background-size: 100% 100%;
  border-radius: 0.1rem;

  font-size: 0.3rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.old > .msg{
  margin: auto;
  width: 4.53rem;
  text-align: center;
  font-size: 0.3rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.4rem;
  letter-spacing: 0rem;
  color: #fd7600;
}
.invite_new{
  margin: auto;
  margin-top: 0.5rem;
  width: 5.5rem;
  height: 0.9rem;
  background-image: linear-gradient(-90deg, 
    #cea0fb 0%, 
    #ac83ff 47%, 
    #9874ff 100%);
  box-shadow: 0rem 0.1rem 0.1rem 0rem 
    #e9d9ff;
  border-radius: 0.5rem;

  font-size: 0.4rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.invite_new:active{
  margin: auto;
  margin-top: 0.5rem;
  width: 5.5rem;
  height: 0.9rem;
  background-image: linear-gradient(-90deg, 
    #c096ea 0%, 
    #9672df 47%, 
    #7d5fd1 100%);
  box-shadow: 0rem 0.1rem 0.1rem 0rem 
    #e9d9ff;
  border-radius: 0.5rem;

  font-size: 0.4rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.old > span{
  width: 5.8rem;
  margin-top: 0.47rem;
  display: inline-block;
  font-size: 0.24rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.38rem;
  letter-spacing: 0rem;
  color: #757575;
}
/*新用户*/
.new{
  display: none;
  padding-top: 0.94rem;
  width: 6.71rem;
  height: 4.75rem;
  background-color: #ffffff;
  border-radius: 0.1rem;
}
.new > .title{
  position: absolute;
  left: 50%;
  top: -0.2rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 3.2rem;
  height: 0.8rem;
  background: url(../img/invite-top-yellow.png) center no-repeat;
  background-size: 100% 100%;
  border-radius: 0.1rem;

  font-size: 0.3rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.new > .msg{
  margin: auto;
  width: 4.53rem;
  text-align: center;
  font-size: 0.3rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.4rem;
  letter-spacing: 0rem;
  color: #fd7600;
}
.new > .authCode-box{
  margin: auto;
  margin-top: 0.46rem;
  width: 5.65rem;
  padding-right: 1.88rem;
  height: 0.6rem;
  position: relative;
  box-sizing: border-box;
}
.authCode-box > .code_input{
  display: block;
  width: 3.39rem;
  height: 0.6rem;
  padding-left: 0.3rem;
  /*background: url(../img/invite-code-bg.png) left bottom no-repeat;*/
  background-size: 100%;
  border-bottom: 1px solid #9059ea;

  font-size: 0.48rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.32rem;
  letter-spacing: 0.2rem;
  color: #9059ea;
}

.get_code_btn{
  position: absolute;
  right: 0;
  top: 0;
  width: 1.88rem;
  height: 0.6rem;
  box-sizing: border-box;
  border: solid 0.01rem #8f5aea;
  border-radius: 0.3rem;

  font-size: 0.24rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.55rem;
  letter-spacing: 0rem;
  color: #8d58e9;
}
.get_code_btn_press{
  position: absolute;
  right: 0;
  top: 0;
  width: 1.88rem;
  height: 0.6rem;
  box-sizing: border-box;
  border: solid 0.01rem #888;
  border-radius: 0.3rem;

  font-size: 0.24rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.55rem;
  letter-spacing: 0rem;
  color: #888;
}
.new_submit{
  margin: auto;
  margin-top: 0.59rem;
  width: 5.5rem;
  height: 0.9rem;
  background-image: linear-gradient(-90deg, 
    #cea0fb 0%, 
    #ac83ff 47%, 
    #9874ff 100%);
  box-shadow: 0rem 0.06rem 0.1rem 0rem 
    #e9d9ff;
  border-radius: 0.45rem;

  font-size: 0.37rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.new_submit:active{
  margin: auto;
  margin-top: 0.59rem;
  width: 5.5rem;
  height: 0.9rem;
  background-image: linear-gradient(-90deg, 
    #c096ea 0%, 
    #9672df 47%, 
    #7d5fd1 100%);
  box-shadow: 0rem 0.06rem 0.1rem 0rem 
    #e9d9ff;
  border-radius: 0.45rem;

  font-size: 0.37rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #ffffff;
}

/*新用户二次登录*/
.new_second_box{
  display: none;
  width: 6.71rem;
  height: 3.72rem;
  border-radius: 0.1rem;
  padding-top: 1.1rem;
}
.new_second_box > .title{
  position: absolute;
  left: 50%;
  top: -0.2rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 3.2rem;
  height: 0.8rem;
  background: url(../img/invite-top-yellow.png) center no-repeat;
  background-size: 100% 100%;
  border-radius: 0.1rem;

  font-size: 0.3rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.new_second_box > .msg{
  margin: auto;
  width: 4.53rem;
  text-align: center;
  font-size: 0.3rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.4rem;
  letter-spacing: 0rem;
  color: #fd7600;
}
.new_second{
  margin: auto;
  margin-top: 0.5rem;
  width: 5.5rem;
  height: 0.9rem;
  background-image: linear-gradient(-90deg, 
    #fe6700 0%, 
    #fd8b00 50%, 
    #fbae00 100%);
  box-shadow: 0rem 0.1rem 0.1rem 0rem 
    #facdae;
  border-radius: 0.5rem;

  font-size: 0.4rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.new_second:active{
  margin: auto;
  margin-top: 0.5rem;
  width: 5.5rem;
  height: 0.9rem;
  background-image: linear-gradient(-90deg, #d15806 0%, #df7d05 50%, #dd9b05 100%);
  box-shadow: 0rem 0.1rem 0.1rem 0rem 
    #facdae;
  border-radius: 0.5rem;

  font-size: 0.4rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: 0.9rem;
  letter-spacing: 0rem;
  color: #ffffff;
}